html, body {
  height: 100%;
}

body {
  margin: 0;
  color: #1c1c1c;
  font-family: 'Muli', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
  font-weight: normal;
  font-size: 28px;
}

li a, h1 a, h2 a  {
  color: #1c1c1c;
  text-decoration: none;
}

li a:hover, h2 a:hover  {
  border-bottom: 2px solid #c4d8c3;
}

#current-link {
  border-bottom: 2px solid #c4d8c3;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 60px;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#navbar ul li {
  display: inline-block;
  margin-right: 32px;
}

#navbar ul li a {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
}

#navbar h1 {
  font-family: 'Sacramento', cursive;
  font-weight: normal;
  font-size: 50px;
  flex-grow: 1;
  margin: 0 32px 0 0;
}

/* home page */

#splashpage-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
}

#splashpage-welcome div {
  padding: 10px 0;
}

#splashpage-welcome h2 {
  font-family: 'Sacramento', cursive;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 60px;
}

#splashpage-section {
  display: flex;
  width: 100%;
}

#splashpage-section img {
  max-width: 100%;
  max-height: 580px;
}

#splashpage-section h2 {
  text-align: center;
}

@media (max-width: 760px) {
  #splashpage-section {
    flex-wrap: wrap;
  }
}

@media (max-width: 530px) {
  #splashpage-welcome {
    flex-direction: column-reverse;
    padding-top: 10px;
  }

  #splashpage-welcome div {
    padding: 0;
    margin: 0;
  }

  #splashpage-welcome h2 {
    padding: 0;
    margin: 0;
  }
}

/* about page */

#about-background-image {
  background-image: url('/images/flowers.jpeg');
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: 100%;
}

#about-background-image div {
  background-color: rgb(255, 255, 255, 0.7);
  height: 100%;
}

#about-background-image h2 {
  padding-top: 20px;
  margin: 0;
}

#about-background-image p {
  padding: 0 20px;
}

/* photos page */

#gallery img {
  width: 600px;
}

#photos-header-photo {
  padding-top: 15px;
}

#photos-header-photo {
  background-image: url('/images/cool_dog.jpg');
  background-repeat: no-repeat;
  background-position: 50% 55%;
  background-size: cover;
  height: 430px;
  width: 100%;
}

#photos-header h2 {
  font-size: 25px;
  text-align: center;
}

#photo-collage {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

#photo-collage img {
  height: 260px;
  width: 400px;
}

@media (max-width: 400px) {
  #photos-header-photo div {
    height: 300px;
  }
}

@media (max-width: 320px) {
  #photos-header-photo div {
    height: 200px;
  }
}

/* contact page */

#contact-form {
  background-image: url('/images/dark_road.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#contact-form form {
  margin-top: 60px;
}

@media (max-width: 680px) {
  #contact-form {
    height: 0;
  }

  #contact-form form {
    margin-top: 0;
  }
}
/* dashboard */

#dashboard-header-photo {
  background-image: url('/images/pineapple-photos.jpeg');
  background-repeat: no-repeat;
  background-position: 0% 70%;
  background-size: cover;
  height: 400px;
  width: 100%;
  padding-top: 15px;
}

#dashboard-header h2 {
  font-size: 30px;
  text-align: center;
}

#dashboard-tabs {
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#dashboard-tabs div {
  width: 25%;
  text-align: center;
}

@media (max-width: 400px) {
  #dashboard-header-photo div {
    height: 300px;
  }
}

@media (max-width: 320px) {
  #dashboard-header-photo div {
    height: 200px;
  }
}

/* error page */

#error-message-section {
  text-align: center;
}

/* login and sign up stuffssss */
.standard-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
}

.standard-form form h2 {
  text-align: center;
}

.standard-form form {
  background-color: white;
  height: 480px;
  width: 600px;
  padding: 0 20px;
  margin-top: 15px;
}

.standard-form form div {
  padding: 8px 0;
}

.standard-form form div input, .standard-form form div textarea {
  background-color: #f3f3f3;
  display: block;
  height: 25px;
  width: 100%;
  border: none;
}

.standard-form form div textarea {
  height: 140px;
  resize: none;
}

.standard-form form div input:focus {
  outline-width: 0;
}

#submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit-button button {
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: lighter;
  border: 1px solid #bababa;
  border-radius: 2px;
  padding: 8px 0;
  margin: 8px 0;
  cursor: pointer;
  width: 200px;
}

#submit-button button:hover, #forgot-password:hover {
  opacity: 0.8;
}

#login-form form {
  width: 360px;
}

#first-last-name {
  display: flex;
  justify-content: center;
}

#first-last-name div {
  flex-grow: 1;
}

#first-last-name div:first-child {
  padding-right: 15px;
}

#login-form-message div {
  text-align: center;
  padding: 40px 10px;
}

#error-message {
  font-size: 12px;
  color: red;
}

#forgot-password {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

.color-block-green, .color-block-blue, .color-block-purple, .color-block-yellow, .color-block-rose {
  min-height: 30px;
  opacity: 0.5;
}

.color-block-green {
  background-color: #c4d8c3;
}

.color-block-blue {
  background-color: #b3d1db;
}

.color-block-purple {
  background-color: #c0b7d2;
}

.color-block-yellow {
  background-color: #efd8a5;
}

.color-block-rose {
  background-color: #e5c9d5;
}

@media (max-width: 860px) {
  #navbar {
    text-align: center;
    flex-direction: column;
    padding: 16px 16px 8px 16px;
  }

  #navbar ul li, #navbar ul li:last-child {
    margin: 0 8px 8px 8px;
  }

  #navbar h1 {
    margin-bottom: 16px;
    margin-right: 0;
  }
}

@media (max-width: 320px) {
  #sign-up-form {
    padding: 15px;
  }

  #first-last-name {
    display: block;
  }

  #first-last-name input {
    width: 100%;
  }
}
